config coffeed main
	option tmp_log 		"/tmp/coffeed.log"
	option update 		4
	option logging	 	0
	option port		4949

	option amb_add		0x4b
	option adc_add		0x68
	option adc_chan		0
	option i2c_bus 		0
	option pwm_bus		0

	option use_celcius  	1
	option brew_setpoint	85.0
	option steam_setpoint	145.0
	option boiler_offset	-16.0

	option p_const 		40.0
	option i_const 		30.0
	option d_const 		0.0

# Temperature Farenheit
#	option use_celcius 	0
#	option brew_setpoint	185.0
#	option steam_setpoint	275.0
#	option boiler_offset	-0.0
#	option tuning_offset	-0.0
